header{
  background-color: #0f94ff;
}
header ul {
  display: flex;
  padding: 12px 0px;
  margin: 0;
  justify-content: flex-end;
}
header ul li{
  padding-left: 20px;
}
ul li {
  list-style: none;
}
header ul li a  {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.selected {
  background: #16adf1;
  padding: 10px;

}
